
# OTHER
*.log
target/
.idea/
.vscode/
.metals/

.bloop/
project/.bloop/
.metals/
project/metals.sbt
.bsp

project/project/
project/target/
project/metals.sbt
releases/
*.iml
*.swp
.arcconfig


*/src/main/resources/sankub.conf
*/src/main/resources/dev.conf
/src/main/resources/sankub.conf

docker/test.env

agent/temp/
